$text-color: hsl(228, 28%, 20%);
$second-text-color: hsl(0, 0%, 45%);
$primary-text-color: hsl(202, 87%, 54%);
$light-text-color: hsl(0, 0%, 100%);
$green-text-color: hsl(104, 80%, 41%);

////colors:
$darkblue: hsl(202, 87%, 54%);
$faded-secondary-color: hsl(14, 100%, 91%);
