@use "../util" as u;
.footer_container {
  padding: 50px 235px 52px 192px;

  @include u.breakpoint-down(medium) {
    margin-left: 0;
    margin-right: 0;
    padding: 70px 40px 0px 40px;
  }
}
.footer {
  &__wrap {
    display: grid;
    // // grid-template-columns: repeat(4, 1fr) 1.6fr;
    // // grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(min(146px), 1fr));
  }

  &__flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
  }

  a {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
  }

  &__touch {
    vertical-align: center;
    &__text {
      margin: 0;
      color: u.$second-text-color;
    }
    &__img {
      padding-right: 10px;
    }
  }

  &__content {
    align-items: center;
    padding: 25px 258px 25px 192px;
    background-color: hsl(0, 0%, 98%);
    flex-wrap: wrap;

    @include u.breakpoint-down(medium) {
      padding: 25px 15px;
    }
  }
}
.social {
  display: inline-block;
}
.social_links {
  &__hover:hover {
    transform: scale(1.3);
  }

  a:not(:last-child) {
    // display: inline-block;
    margin-right: 23px;
  }
}
