@use "../util" as u;

.container {
  align-items: center;
}
.leading {
  padding: 160px 0px 160px 0px;
  background-color: u.$faded-secondary-color;

  @include u.breakpoint-down(medium) {
    margin-left: 0;
    margin-right: 0;
    padding: 0px 40px 0px 40px;
    align-items: center;
    min-height: 531px;
  }

  @include u.breakpoint-down(small) {
    margin-left: 0;
    margin-right: 0;
    padding: 0px 40px 0px 40px;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  &__img {
    display: inline-block;
    background-image: url(/assests/img/Leading_medicine/img.svg);
    height: 430px;
    margin-top: -46px;
    background-position: 92% 25%, 92% 25%;
    background-repeat: no-repeat;
    flex: 1;
    order: 2;

    @include u.breakpoint-down(medium) {
      background-size: 70%;
    }
    @include u.breakpoint-down(small) {
      min-width: 100%;
      order: 1;
      background-position: center center;
    }
  }

  &__line {
    width: 94px;
    height: 7px;
    background-color: hsl(0, 78%, 58%);
  }
  &__text {
    max-width: 30%;
    @include u.breakpoint-down(medium) {
      max-width: 43%;
    }
    @include u.breakpoint-down(small) {
      max-width: 100%;
      padding-bottom: 30px;
      order: 2;
    }

    h2 {
      padding-top: 35px;
      color: u.$text-color;
    }
  }
  &__links {
    color: u.$primary-text-color !important;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
  }
}
