@use "../util" as u;
.pricing {
  padding: 160px 40px 160px 40px;
  @include u.breakpoint-down(medium) {
    margin-left: 0;
    margin-right: 0;
    padding: 70px 40px 0px 40px;
  }

  &__title {
    padding-top: 10px;
    color: u.$text-color !important;
  }

  &__copy {
    padding-top: 10px;
    line-height: 24px;
    width: 46%;
    @include u.breakpoint-down(medium) {
      width: 73%;
    }
  }

  &__container {
    margin-top: 109px;
    gap: 35px;
    ////using grid/
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @include u.breakpoint-down(medium) {
      grid-template-columns: repeat(auto-fill, minmax(min(250px, 100%), 1fr));
    }

    @include u.breakpoint-down(small) {
      grid-template-columns: 1fr;
    }
    //using flex wrap//
    // @include u.breakpoint-down(medium) {
    //   flex-wrap: wrap;
    //   align-items: center;
    //   justify-content: center;
    // }
  }

  &__card {
    padding: 50px 40px;
    box-shadow: 0px 13px 19px hsla(0, 0%, 0%, 0.071);
    position: relative;
  }

  &__item {
    &__cirlce--top {
      position: absolute;
      width: 96px;
      top: -1%;
      right: -10%;
      height: 96px;
      border-radius: 360px;
      display: block;
      background-color: #e77c40;
      font-size: 24px;
      text-align: center;
      font-weight: 700;
      padding-top: 37px;
      line-height: 24px;
      color: white;
    }

    &--cirlce {
      width: 96px;
      height: 96px;
      border-radius: 360px;
      display: block;
      background-color: hsl(202, 87%, 54%);
      margin-bottom: 35px;

      svg {
        margin-top: 29px;
        margin-left: 29px;
      }
    }
  }
  .heading-h3 {
    text-transform: uppercase;
    padding-top: 35px;
    font-size: u.rem(24);
  }
  &__amount {
    font-size: 40px;
    color: u.$primary-text-color;
    margin-bottom: 0;
  }

  &__info {
    width: 75%;
    color: u.$second-text-color;
    padding: 28px 0px 28px 0px;
  }

  &__txt {
    margin-top: 0px;
    color: #8ec2f2;
  }

  &__btn {
    display: inline-block;
    width: 100%;
    color: white !important;
  }
  &__item {
    align-items: center;
    gap: 10px;
    color: u.$text-color;
    max-width: 96%;
    padding-bottom: 23px;
  }
  &__spec {
    color: u.$text-color;
  }
}
.margin-top {
  margin-top: 39px;
}
