@use "../util" as u;
.review {
  padding: 160px 40px 163px 40px;
  @include u.breakpoint-down(medium) {
    margin-left: 0;
    margin-right: 0;
    padding: 160px 40px 163px 40px;
  }
  .heading-h6 {
    padding-bottom: 10px;
  }

  &__descr {
    width: 42%;
    padding-top: 10px;
    @include u.breakpoint-down(medium) {
      width: 73%;
    }
  }

  &__item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    @include u.breakpoint-down(medium) {
      grid-template-columns: repeat(auto-fill, minmax(min(214px, 100%), 1fr));
    }
    @include u.breakpoint-down(small) {
      grid-template-columns: 1fr;
    }
  }

  &__testimonials {
    width: 100%;
    height: auto;
  }
}
