@use "../util" as u;
a:hover {
  color: u.$primary-text-color;
}
.header {
  font-size: 0.875rem;
  line-height: u.rem(22);
  font-weight: 700;

  &.open {
    .header__toggle {
      span:first-child {
        transform: rotate(45deg);
      }
      span:nth-child(2) {
        opacity: 0;
      }
      span:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  .overlay {
    opacity: 0;
    position: fixed;
    top: 99.8px;
    bottom: 0;
    right: 0;
    left: 0;
    visibility: hidden;
    background: linear-gradient(u.$primary-text-color, transparent);
    &.fade-in {
      visibility: visible;
    }
  }

  nav {
    display: flex;
    padding: 30px;
  }
  @include u.breakpoint-down(medium) {
    position: relative;
    background-color: hsl(0, 0%, 100%);
  }
  &__logo {
    @include u.breakpoint-down(small) {
      margin-left: 0;
    }
    max-width: 100%;
    flex-basis: 20%;
    margin-left: 165px;
    flex-basis: 0;

    img {
      width: u.rem(157);
      height: u.rem(32);
    }
  }
  //for hamburger menu
  &__toggle {
    span {
      display: block;
      width: 26px;
      height: 2px;
      background-color: hsla(240, 65%, 36%, 0.984);
      transition: all 300ms ease-in-out;
      transform-origin: 3px 1px;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }

  /// for hamburger  menu
  .header__menu {
    margin-top: 10px;
    background-color: whitesmoke;
    padding: u.rem(36);
    position: absolute;
    width: calc(100% - 3rem);
    left: 50%;
    transform: translate(-50%);

    .menu__link {
      display: block;
      color: u.$text-color;
      padding: u.rem(10);
      text-align: center;
      &:hover {
        color: u.$primary-text-color;
      }
    }
  }

  // for nav link
  &_link {
    border: 1px;
    a {
      transition: color 200ms ease-in-out;
      &:not(:last-child) {
        margin-right: 21px;
      }
    }
  }

  &_link_right {
    flex-basis: 31%;
    a {
      &:not(:last-child) {
        margin-right: 45px;
      }
    }
    a.header__cta {
      color: white;
    }
  }

  /////for nav container
  &__nav-container {
    width: u.rem(815);
    @include u.breakpoint-down(medium) {
    }
  }

  //visibility
  .hide-for-phone {
    @include u.breakpoint-down(medium) {
      display: none;
    }
  }

  .hide-for-desktop {
    @include u.breakpoint-up(large) {
      display: none;
    }
  }
}

.bg_img {
  @include u.breakpoint-down(small) {
    background-image: none;
  }
  background: url(/assests/img/top-left-corner.svg) no-repeat left top / contain;
}
