@use "../util" as u;
.hero {
  @include u.breakpoint-down(small) {
    padding-left: 0;
  }
  @include u.breakpoint-up(medium) {
    display: flex;
    max-height: 701px;
    padding-left: 40px;
  }

  @include u.breakpoint-up(large) {
    display: flex;
    margin-top: -98px;
    padding-left: u.rem(125);
  }

  &_image {
    position: relative;
    z-index: -1;
    background: url(/assests/img/top-right.svg) no-repeat right / cover;
    width: 100%;
    min-height: 21.875rem;

    @include u.breakpoint-up(medium) {
      flex: 2;
      order: 2;
      height: 580px;
    }

    @include u.breakpoint-up(large) {
      background: url(/assests/img/top-right.svg) no-repeat right / contain;
      position: relative;
      border-radius: 0px 0px 0px 150px;
      background-attachment: fixed;
      margin-top: 0px;
      height: u.rem(700);
      z-index: -1;
      flex: 1.6;
      order: 2;
    }
    &::before {
      content: "";
      position: absolute;
      background: url(/assests/img/hero.svg) no-repeat;
      background-size: 100%;
      background-position: right bottom;
      width: 100%;
      right: 8px;
      height: 100%;
      top: 77px;

      @include u.breakpoint-up(large) {
        width: 118%;
      }

      @include u.breakpoint-up(medium) {
        background-position: center;
        width: 117%;
      }
    }
  }
  ///for tablet
  // @include u.breakpoint-up(medium) {
  //   background-size: 110%;
  //   width: 120%;
  //   height: u.rem(700);
  //   top: 120px;
  // }

  // @include u.breakpoint-down(medium) {
  // //   padding-left: 0;
  // //   margin-top: 0;
  // //   background-size: cover;
  // //   background-position: center center;
  // //   min-height: 17.5rem;
  // // }

  // &__container {
  //   background-image: url(/assests/img/half\ pie.svg),
  //     url(/assests/img/half_circle.svg);
  //   background-position: 100% 25%, 97% bottom;
  //   background-repeat: no-repeat;
  //   height: 700px;
  //   max-width: 800px;
  // }

  // &__graph {
  //   position: absolute;
  //   margin-top: 263px;
  //   margin-left: 123px;
  //   z-index: 1;
  // }
  // &__profile {
  //   max-width: 100%;
  //   position: relative;
  //   margin-top: u.rem(145);
  //   padding-left: 17.5rem;
  // }
  // &__slide {
  //   margin-top: -133px;
  //   padding-bottom: 29px;
  //   margin-left: 153px;
  //   z-index: 1;
  //   position: relative;
  // }
  /// for hero section text
  &__text {
    margin-top: u.rem(250);
    @include u.breakpoint-up(medium) {
      width: u.em(573);
      max-height: u.em(540);
      flex: 2;
      order: 1;
    }

    h1 {
      width: u.rem(257);
      line-height: 50px;
    }
    // .heading-h5 {
    //   color: u.$primary-text-color;
    //   margin-bottom: 30px;
    // }
    p {
      line-height: u.rem(30);
      padding-bottom: u.rem(18);

      @include u.breakpoint-up(medium) {
        width: 25.5rem;
      }
    }
    //for mobile
    &__container {
      padding: 0px 20px 0px 20px;
    }
    .btn1_cta {
      color: u.$light-text-color;
      height: 52px;
      margin-right: u.rem(10);
    }
  }
}
